.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

a {
    font-size: 50px; /*happy birthday joe*/
}

body {
    color: rgb(0, 0, 0);
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, lightpink 0%, lightblue 51%, lightgreen 100%);
    animation: color-gradient 7s linear infinite reverse;
}

@keyframes color-gradient {
    0% {
      background-position: left top;
    }
    12.5% {
      background-position: center top;
    }
    25% {
      background-position: right top;
    }
    37.5% {
      background-position: left center;
    }
    50% {
      background-position: center center;
    }
    62.5% {
      background-position: right center;
    }
    75% {
      background-position: left bottom;
    }
    87.5% {
      background-position: center bottom;
    }
    100% {
      background-position: right bottom;
    }
  }